<main>
    <div class="data-entry-field">
        <h1>Authorization</h1>
        {{{ loginInput }}}
        {{{ pwdInput }}}
        <div class="button__row-container">
            {{{ authButton }}}
            {{{ regButton }}}
        </div>
    </div>
</main>