---
stylesheets:
- ../../scss/index.scss
---
{{!< base}}
<main>
    <h1>Internal Server Error</h1>
    <h2><a href="../login/index.hbs">Back to main page</a></h2>
    <div class="error-number-font">500</div>
</main>