.chat-form {
    @include flexRow;
    height: 100%;
    width: 100%;
}

.chat-menu {
    @include styleBorder;
    height: 100%;
    min-height: 100%;
    width: 23%;
    min-width: 330px;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    background-color: #f5f5f5;

    &__owner {
        @include flexRow;
        box-sizing: border-box;
        height: 50px;
        color: $dark-color;
        padding: 3px 10px;
    }

    &__owner-settings {
        display: block;
        fill: $dark-color;
        height: 25px;
        width: 25px;
        margin-top: 9px;
        margin-right: 10px;

        & svg:hover {
            background-color: rgba(0,0,0,0.1);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            border-radius: 50%;
            animation: ani_rotation 20s;
        }
    }

    &__add-chat {
        height: 25px;
        width: 25px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 9px;

        & svg:hover {
            background-color: rgba(0,0,0,0.1);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            border-radius: 50px;
        }
    }

    &__logout {
        height: 25px;
        width: 25px;
        margin-left: auto;
        margin-right: 10px;

        & svg:hover {
            background-color: rgba(0,0,0,0.1);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            border-radius: 50px;
        }
    }

    &__list {
        width: 100%;
        height: calc(100% - 95px);
        overflow-y: scroll;
    }

    &__search-box {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.chat-menu__list::-webkit-scrollbar {
    width: 2px;
    background-color: #f5f5f5;
}

.chat-menu__list::-webkit-scrollbar-thumb {
    background-color: $ultralight-color;
}

.chat-item {
    @include flexRow;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: 80px;
    min-height: 80px;
    padding-left: 10px;
    border: none;
    background-color: #f5f5f5;

    &__text {
        width: 70%;
        margin-right: 10px;

        &_ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__msgcounter {
        width: 18px;
        height: 18px;
        background-color: $dark-color;
        color: white;
        text-align: center;
        line-height: 18px;
        font-size: 15;
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
    }

    &__picture {
        @include styleBorder;
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        margin-right: 10px;
        background-color: white;
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
    }
}

.chat-item:hover {
    background-color: #e1e0e0;
}

.chat-area {
    @include flexColumn;
    height: 100%;
    width: 77%;
    box-sizing: border-box;

    &__header {
        @include flexRow;
        @include bottomBorder;
        justify-content: space-between;
        box-sizing: border-box;
        height: 50px;
        background-color: #f5f5f5;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        padding-left: 10px;
        padding-top: 3px;
    }

    &__footer {
        @include styleBorder;
        @include flexRow;
        box-sizing: border-box;
        height: 100px;
        width: 100%;
        background-color: #f5f5f5;;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        align-self: flex-end;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
    }

    &__content {
        flex-grow: 1;
        flex-shrink: 0;
        box-sizing: border-box;
        flex-basis: auto;
        overflow-y: scroll;
        max-height: calc(100% - 150px);

        &::-webkit-scrollbar {
            width: 2px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $ultralight-color;
        }

    }
}

.message {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    word-wrap: break-word;

    &__incoming-message {
        background-color: $ultralight-color;
        color: $dark-color;
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        width: 51%;
        padding: 5px 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
    }

    &__outgoing-message {
        background-color: $dark-color;
        color: white;
        float: right;
        margin-right: 20px;
        margin-top: 20px;
        width: 51%;
        padding: 5px 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
    }

    &__footer {
        width: 100%;
        height: 15px;
        text-align: right;
        font-size: 10px;
        color: grey;
    }
}

.add-chat-modal {
    position: absolute;
    width: 300px;
    background-color: white;
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid $ultralight-color;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 10px;
}

.found-users-list {
    list-style: none;
    padding: 0;

    & li {
        height: 35px;
        line-height: 35px;
        @include bottomBorder;
        justify-content: space-between;
    }
}

.user-item {
    display: flex;
    color: $dark-color;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
    margin: 0;
    height: 40px;
    font-size: 14px;
    transition: 200ms;

    &:hover {
        background-color: #fdfdfd;
    }
}

.user-list {
    padding: 0px;
    height: 220px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 2px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $ultralight-color;
    }
}