.chat-menu {
    background-color: #f5f5f5;
    border: 1px $ultralight-color solid;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    min-width: 330px;
    width: 23%;
}

.chat-menu__owner-container {
    box-sizing: border-box;
    color: $dark-color;
    height: 50px;
    padding: 3px 10px;
}

.chat-menu__button-settings {
    display: block;
    fill: $dark-color;
    height: 25px;
    margin-right: 10px;
    margin-top: 9px;
    width: 25px;

    & svg:hover {
        animation: ani_rotation 20s;
        background-color: rgba(0,0,0,0.1);
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

.chat-menu__button-logout {
    height: 25px;
    margin-left: auto;
    margin-right: 10px;
    width: 25px;

    & svg:hover {
        background-color: rgba(0,0,0,0.1);
        border-radius: 50px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

.chat-menu__button-add-chat {
    height: 25px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 9px;
    width: 25px;

    & svg:hover {
        background-color: rgba(0,0,0,0.1);
        border-radius: 50px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

.chat-menu__search-container {
    padding-left: 10px;
    padding-right: 10px;
}

.chat-menu__input-search {
    border: 1px $ultralight-color solid;
    box-sizing: border-box;
    height: 25px;
    margin: 10px auto;
    outline: 0;
    padding-left: 5px;
    width: 100%;
}

.chat-menu__list-container {
    height: calc(100% - 95px);
    overflow-y: scroll;
    width: 100%;

    &::-webkit-scrollbar {
        background-color: #f5f5f5;
        width: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $ultralight-color;
    }
}


.add-chat-modal {
    background-color: white;
    border: 1px solid $ultralight-color;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    margin-left: 100px;
    margin-top: 50px;
    padding: 10px;
    position: absolute;
    width: 300px;
}

.add-chat-modal__header {
    justify-content: space-between;
    align-items: center;
}

.add-chat-modal__search-container {
    align-items: center
}

.add-chat-modal__input-search {
    border: 1px $ultralight-color solid;
    box-sizing: border-box;
    height: 25px;
    margin: 10px auto;
    outline: 0;
    padding-left: 5px;
    width: 100%;
}

.add-chat-modal__bottom {
    border: 1px $ultralight-color solid;
    box-sizing: border-box;
    // border-left: 0;
    height: 25px;

    &:hover {
        background-color: $ultralight-color;
    }
}

.add-chat-modal__users-list {
    padding: 0px;
    height: 220px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 2px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $ultralight-color;
    }
}

.add-chat-modal__user-item {
    color: $dark-color;
    font-size: 14px;
    height: 40px;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 5px;
    transition: 200ms;

    &:hover {
        background-color: #fdfdfd;
    }
}

.chat-menu__chat-item {
    box-sizing: border-box;
    align-items: center;
    background-color: #f5f5f5;
    border: none;
    height: 80px;
    min-height: 80px;
    padding-left: 10px;
    width: 100%;

    &:hover {
        background-color: #e1e0e0;
    }
}

.chat-menu__chat-item-avatar {
    border: 1px $ultralight-color solid;
    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    height: 40px;
    margin-right: 10px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
}


.chat-menu__chat-item-text-container {
    margin-right: 10px;
    width: 70%;
}

.chat-menu__chat-item-message-counter {
    background-color: $dark-color;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    color: white;
    font-size: 15;
    height: 18px;
    line-height: 18px;
    text-align: center;
    width: 18px;
}

