.data-entry-form {
    animation: ani_opacity 500ms;
}

.data-entry-form__container {
    height: 100%;
    justify-content: center;
    margin: auto;
    width: 400px;
}

.data-entry-form__button-container {
    margin-top: 35;
    align-items: center;
    justify-content: space-between;
}

.data-entry-form__input {
    border: 1px $light-color solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-sizing: border-box;
    color: $dark-color;
    font-size: 20px;
    height: 35px;
    margin: 0;
    outline: 0;
    padding: 0 0 0 5;
    width: 100%;

    &:focus {
        border-color: $dark-color;
    }
}

.data-entry-form__input-error {
    animation: ani_opacity 700ms;
    color: red;
    font-size: 10px;
    height: 13px;
    margin-top: 2px;
    text-align: right;
}

.data-entry-form__button {
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
}

.data-entry-form__button_primary {
    background-color: $dark-color;
    color: white;
    font-size: 28px;
    height: 68px;
    line-height: 68px;
    width: 50%;

    &:hover {
        background-color: black;
        transition: 700ms;
    }
}

.data-entry-form__button_secondary {
    background-color: $ultralight-color;
    color: $light-color;
    font-size: 22px;
    height: 45px;
    line-height: 45px;
    width: 35%;

    &:hover {
        color: black;
        transition: 700ms;
    }
}

.data-entry-form__button_setting_secondary {
    background-color: $ultralight-color;
    color: $light-color;
    font-size: 22px;
    height: 68px;
    line-height: 34px;
    width: 35%;

    &:hover {
        color: black;
        transition: 700ms;
    }
}

.data-entry-form__user-pic {
    background-color: $ultralight-color;
    border: 1px $ultralight-color solid;
    display: block;
    height: 83px;
    margin-right: 25px;
    min-height: 83px;
    min-width: 83px;
    width: 83px;
}
