$dark-color: rgba(0,0,0,0.75);
$light-color: rgba(0,0,0,0.35);
$ultralight-color: rgba(0,0,0,0.15);

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin styleBorder {
    border-style: solid;
    border-color: $ultralight-color;
    border-width: 1px;
}

@mixin bottomBorder {
    @include styleBorder;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#app {
  height: 100%;
}

main{
    width: 100%;
    height: 100%;
}

h1, h2 {
    text-align: center;
    color: $dark-color;
}

* {
    font-family: 'Nunito', sans-serif;
}

.data-entry-field {
    @include flexColumn;
    width: 400px;
    height: 100%;
    margin: auto;
    justify-content: center;
    animation: ani_opacity 500ms;
}

::placeholder {
    color: $light-color;
  }

.rounding {
    border-radius: 5px;
}

.right-rounding {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.left-rounding {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.thin-font {
    color: $light-color;
    font-size: 15;
    font-weight: 300;
}

.medium-font {
    color: $dark-color;
    font-size: 15;
    font-weight: 500;
}

.medium-font-18 {
    color: $dark-color;
    font-size: 18;
    font-weight: 500;
}

.error-number-font {
    color: $light-color;
    font-size: 400;
    font-weight: bold;
    text-align: center;
}

.error_hidden {
  visibility: hidden;
  height: 13px;
  margin-top: 2px;
}

.error_visible {
  height: 13px;
  visibility: visible;
  color: red;
  text-align: right;
  margin-top: 2px;
  font-size: 10px;
  animation: ani_opacity 700ms;
}

@import "_forms.scss";
@import "_chat.scss";
@import "_settings.scss";
@import "_animations.scss";